# Text File
# @author:   keutoi
# @file:     user/stalonetray.service
# @brief:    Starts the stalonetray sized for xmobar
# created:  2015-03-11 18:19:41
# modified: 2015-03-11 18:19:41
[Unit]
Description=StaloneTray Service
Before = default.target

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/bin/sh -c "/usr/bin/stalonetray&"
ExecStop=/usr/bin/pkill -9 stalonetray

[Install]
WantedBy= default.target
